@import './theme/tokens.css';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family:
    'Segoe UI',
    system-ui,
    -apple-system,
    Roboto,
    sans-serif;
  font-size: 16px;
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}
